$background: #eee;
$content: rgb(119, 105, 0);
$accent: rgb(2, 116, 15);
@mixin quick-nav{
    position: fixed;
    padding: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background;
    color: $content;
    p, i, em{font-weight: 600;}
    ::selection{
        background-color: $accent;
        color: $background;
    }
}
a{
    color: $accent;
}
nav{
    @include quick-nav();
    width: 100%;
    background-color: $background;
    *{
        font-size: 30px; 
        display: inline; 
        vertical-align: middle;
    }
    li{
        margin-left: 7px;
    }
    ul{
        display: none;
        float: right;
        width: 300px;
        @media screen and (min-width: 450px) {
            display: inline;
        }
    }
    a{
        text-decoration: none;
    }
    img{
        @media screen and (min-width: 450px) {
            display: none;
        }
        filter: invert(25%) sepia(75%) saturate(1389%) hue-rotate(98deg) brightness(98%) contrast(98%);
        margin-right: 20px;
    }
}
input:first-of-type{
    @include quick-nav();
    float: left;
    width: 50px;
    height: 50px;
    opacity: 0;
    display: block;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    @media screen and (min-width: 450px) {
        display: none;
    }
}
input:first-of-type + ul{
    @include quick-nav();
    background-color: adjust-color($color: $background, $alpha: -0.17);
    display: none;
    margin-top: 60px;
    height: calc(100% - 60px);
    width: 70%;
    a{
        text-decoration: none;
        font-size: 40px;
    }
}
input:first-of-type:checked + ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main{
    margin-top: 100px;
    padding: 10px
}
footer{
    background-color: $content;
    color: $background;
    padding: 10px;
    margin-top: 100px;
    ::selection{
        color: $content;
        background-color: $background;
    }
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
h4, h5, h6{
    font-weight: 700;
}
i, em{
    font-style: italic;
}
b, strong{
    font-weight: 900;
    font-size: inherit;
}
img{
    max-width: 100%;
    height: auto;
}