</main>
<footer>
    <aside>
        <i>{{ .Site.Title }} website made in {{ now.Year }} </i>
        <section>
            <h2>Contact</h2>
        </section>
        <section>
            <br>
            <small>Icons from glyphIcons</small>
        </section>
    </aside>
</footer>
</body>
</html>