
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="all">
    {{ partial "libsass.html" "main.scss" }}
</head>
<body>
    <nav>
        <img src="images/glyph/Layers.svg" width="50px" alt="">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <ul>
        {{range .Site.Menus.main }}
            <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
        {{ end }}
        </ul>
    </nav>
    <input type="checkbox" title="Site links">
    <ul>
    {{range .Site.Menus.main }}
        <li>
            <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
    {{ end }}
    </ul>
    <br>
    <main>